<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Simple Calculator</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<h2 style="color:blue;text-align:center;">Simple Calculator</h2>
		<form class="form-group"method="post">
			<table class="table table-bordered" style="margin: auto;width:60%;">
				<tr>
					<td>Enter First Number</td>
					<td>
						<input type="number" name="n1" class="form-control" />
					</td>
				</tr>
				<tr>
					<td>Enter Second Number</td>
					<td>
						<input type="number" name="n2" class="form-control" />
					</td>
				</tr>
				<tr>
					<td>Select Operation</td>
				<td>
					<input type="radio" name="op"value="add"/>+
					<input type="radio" name="op"value="sub"/>-
					<input type="radio" name="op"value="mult"/>*
					<input type="radio" name="op"value="div"/>/
				</td>	
				</tr>
				<tr>

	<td>
		<div th:if="${result}">
		<h3 th:text="${result}"></h3>
									
		
		</div>
	</td>
					<td>
						<button type="submit" class="btn btn-primary">Calculate</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>

</html>